source.py
*.source
*.source.html
*.source.md
*.source.js
*.source.py
*.source.pyc
*.source.json
*.source.backup
db.json
awcloud.py
poetry.lock
.breakpoints
awcloud.build
minified
*.key
*.wam
*.log
*.txt
/node_modules
/node_modules/*
/static/log/*.txt